@charset "UTF-8";/* 雀の往来 */

/********************
 0. base
 1. common
 2. display mode
 3. edit mode
 4. delete mode
********************/


/********************
0. base
********************/

/* ロード中非表示 */
.npm-load-container{
	display: none;
}

/* セーブ中非表示 */
.npm-save-container{
	display: none;
}

/* ロード中表示 */
.npm-loading .npm-load-container{
	display: inline-block;
}

/* セーブ中表示 */
.npm-saving .npm-save-container{
	display: inline-block;
}

/* 削除モード切替用 */
.npm-bookmark-dialog.npm-delete-confirm-mode .npm-edit-container,
.npm-bookmark-dialog.npm-delete-confirm-mode .npm-display-container {
	display: none;
}
.npm-bookmark-dialog.npm-delete-confirm-mode .npm-delete-confirm-container {
	display: block;
}

/* 編集モード切替用 */
.npm-bookmark-dialog.npm-edit-mode .npm-display-container,
.npm-bookmark-dialog.npm-edit-mode .npm-delete-confirm-container {
	display: none;
}
.npm-bookmark-dialog.npm-edit-mode .npm-edit-container {
	display: block;
	background-color: #fcfdeb;
}

/* 表示モード切替用 */
.npm-bookmark-dialog.npm-display-mode .npm-edit-container,
.npm-bookmark-dialog.npm-display-mode .npm-delete-confirm-container {
	display: none;
}
.npm-bookmark-dialog.npm-display-mode .npm-display-container {
	display: block;
}

/********************
1. common
********************/

/* ダイアログ外枠 */
.npm-bookmark-dialog {
	font-size: 12px;
	line-height: 1.5em;
}

/* ページタイトル */
.npm-bookmark-dialog-header .dialog-title {
	float: left;
	padding: 3px 0px 5px 20px;
	background: url("img/icon-myreview.png") no-repeat scroll 0 0 transparent;
	font-size: 14px;
	font-weight: bold;
}

/* 各内枠タイトル */
.npm-bookmark-dialog .npm-display-container dl dt.rate-title,
.npm-bookmark-dialog .npm-edit-container dl dt.rate-title {
	padding-left: 20px;
	background: url("img/icon-rate.png") no-repeat scroll 0 0 transparent;
}
.npm-bookmark-dialog .npm-display-container dl dt.label-title,
.npm-bookmark-dialog .npm-edit-container dl dt.label-title {
	padding-left: 20px;
	background: url("img/icon-label.png") no-repeat scroll 0 0 transparent;
}
.npm-bookmark-dialog .npm-display-container dl dt.memo-title,
.npm-bookmark-dialog .npm-edit-container dl dt.memo-title {
	padding-left: 20px;
	background: url("img/icon-memo.png") no-repeat scroll 0 0 transparent;
}
.npm-bookmark-dialog .npm-display-container dl dt.label-title span,
.npm-bookmark-dialog .npm-edit-container dl dt.label-title span{
	font-weight: normal;
}

/* ダイアログ内枠 */
.npm-bookmark-dialog .npm-display-container,
.npm-bookmark-dialog .npm-edit-container,
.npm-bookmark-dialog .npm-delete-confirm-container {
	padding: 10px 12px 12px 12px;
	background-color: #ffffff;
	border: 1px solid #b3b7ba;
	color:#666666;
}

/* 閉じるボタン */
span.close {
	display: block;
	text-align: right;
	float: right;
}

/* 各項目題名枠 */
.npm-bookmark-dialog .npm-display-container dl dt,
.npm-bookmark-dialog .npm-edit-container dl dt,
.npm-bookmark-dialog .npm-delete-confirm-container dl dt {
	font-weight: bold;
}
.npm-bookmark-dialog .npm-edit-container dl dt.mome-title {
	padding-top: 10px;
	border-top: 1px dotted #8f8f8f;
}

/* タイトル枠 */
.npm-bookmark-dialog .npm-edit-container .npm-title,
.npm-bookmark-dialog .npm-display-container .npm-title {
	margin: 10px 0px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #8f8f8f;
	font-size: 138.5%;
	font-weight: bold;
	line-height: 20px;
}

.npm-bookmark-dialog .npm-edit-container .npm-title span,
.npm-bookmark-dialog .npm-display-container .npm-title span {
	font-size: 80%;
}

/* 各項目内容枠 */
.npm-bookmark-dialog .npm-display-container dl dd,
.npm-bookmark-dialog .npm-edit-container dl dd,
.npm-bookmark-dialog .npm-delete-confirm-container dl dd {
	margin-bottom: 10px;
	padding: 3px 0px;
	border-bottom: 1px dotted #8f8f8f;
}
.npm-bookmark-dialog .npm-display-container dl dd.npm-rate,
.npm-bookmark-dialog .npm-edit-container dl dd.npm-rate,
.npm-bookmark-dialog .npm-display-container dl dd.npm-rate-display,
.npm-bookmark-dialog .npm-edit-container dl dd.npm-rate-display {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

/* 評価なし */
.npm-bookmark-dialog .npm-display-container dl dd.npm-rating-0 img {
	display: none;
	border-bottom: 1px dotted #8f8f8f;
}

/* ボタン枠 */
.npm-bookmark-dialog .npm-display-container .npm-top-action,
.npm-bookmark-dialog .npm-display-container .npm-bottom-action,
.npm-bookmark-dialog .npm-edit-container .npm-top-action,
.npm-bookmark-dialog .npm-edit-container .npm-bottom-action,
.npm-bookmark-dialog .npm-delete-confirm-container .npm-top-action,
.npm-bookmark-dialog .npm-delete-confirm-container .npm-bottom-action {
	position:relative;
	xwidth: 165px;
	height: 30px;
	margin: 0 auto;
	cursor: default;
}

.npm-bookmark-dialog .npm-display-container .npm-action:first-child-top,
.npm-bookmark-dialog .npm-edit-container .npm-action:first-child-top,
.npm-bookmark-dialog .npm-delete-confirm-container .npm-action:first-child-top {
	border-bottom: 1px solid #ccc;
}

.npm-bookmark-dialog .npm-display-container .npm-top-action,
.npm-bookmark-dialog .npm-edit-container .npm-top-action {
	border-bottom: 1px solid #ccc;
}


/* 登録ボタン */
.npm-bookmark-dialog .npm-edit-container .npm-bottom-action .npm-dialog-button.npm-send {
	width: 250px;
	height: 30px;
	margin: 0px auto;
	line-height: 2.5em;
	xbackground: url("img/save-btn.png") no-repeat scroll 0 0 transparent;
	background: #71c577; /* Old browsers */
	background: -moz-linear-gradient(top, #71c577 0%, #65b368 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71c577), color-stop(100%,#65b368)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #71c577 0%,#65b368 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #71c577 0%,#65b368 100%); /* Opera 11.10+ */
	border: 1px solid #679763;
	border-radius: 3px;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
}

/* 編集キャンセルボタン */
.npm-bookmark-dialog .npm-edit-container .npm-top-action .npm-dialog-button.npm-edit-cancel {
	position:absolute;
	top: 4px;
	left: 0;
	height: 20px;
	padding-left: 0px;
	font-size:108%;
	color: #3866ef;
	cursor: pointer;
	font-weight: bold;
	line-height: 20px;
}

/********************
 2. display mode
********************/


/* 編集ボタン */
.npm-bookmark-dialog .npm-display-container .npm-top-action .npm-dialog-button.npm-edit {
	position:absolute;
	top: 4px;
	left: 0;
	height: 20px;
	padding-left: 23px;
	background: url("img/edit-icon-m.png") no-repeat scroll 0 0 transparent;
	color: #3866ef;
	font-size:108%;
	font-weight: bold;
	line-height: 20px;
}

/* 削除確認ボタン
.npm-bookmark-dialog .npm-display-container .npm-action .npm-dialog-button.npm-delete-confirm {
	position:absolute;
	hetop: 0;
	right: 0;
	width: 65px;
	height: 30px;
	line-height: 2.0em;
	background: url("img/delete-back-m.png") no-repeat scroll 0 0 transparent;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	font-size: 116%;
} */

/* 削除確認ボタン */
.npm-bookmark-dialog .npm-display-container .npm-bottom-action .npm-delete-confirm {
	position:absolute;
	top: 0;
	right: 0;
	bottom: 5px;
	width: 30px;
	height: 30px;
	padding-left: 15px;
	background: url("img/trash.png") no-repeat scroll 0 0 transparent;
	background-position: left;
	vertical-align: middle;
	line-height: 2.3em;
	text-align:center;
	color:#3667f4;
	font-weight:bold;
	font-size: 116%;
}

/* 評価 */
.npm-bookmark-dialog .npm-display-container .npm-rate-display > span {
	display:none;
}

.npm-bookmark-dialog .npm-display-container .npm-rate-display.npm-rate-score-0 {
	font-size: 108%;
	margin-left: 20px;
	margin-bottom: 10px;
}

.npm-bookmark-dialog .npm-display-container .npm-rate-display.npm-rate-score-0 > span {
	display:block;
}

.npm-bookmark-dialog .npm-display-container .npm-rate-display.npm-rate-score-0 img,
.npm-bookmark-dialog .npm-display-container .npm-rate-display.npm-rate-score-0 + .npm-rate-caption {
	display : none;
}

/* ラベル枠 */
.npm-bookmark-dialog .npm-display-container .npm-tags-display {
	padding-top: 5px;
	letter-spacing: -.40em;
}

/* ラベル */
.npm-bookmark-dialog .npm-display-container .npm-tags-display ul.tags li.tag {
	display:inline-block;
	*display: inline;  
	*zoom: 1; 
	*padding-left: 3px;
	margin-left: 5px;
	margin-bottom: 5px;
	letter-spacing: normal;
	padding: 2px 5px 2px 0px;
	color:#ffffff;
	border-radius: 5px;
	background-color:#83b142;

	/*　左に○を入れたいみたいなので、その時は画像を用意してここに。
	background: url("img/circle.png") no-repeat scroll 0 0 transparent;
	*/
}

.npm-bookmark-dialog .npm-display-container .npm-tags-display ul.tags li.tag input {
	line-height: 1.0;
}

/* ラベル左中点 */
.npm-bookmark-dialog .npm-display-container .npm-tags-display ul.tags li.tag:before {
	content: "・";
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
}

/* ラベルなし枠 */
.npm-bookmark-dialog .npm-display-container .npm-has-memo-no ul.tags li.tag {
	margin-left: 20px;
	background: none;
}
.npm-bookmark-dialog .npm-display-container .npm-has-memo-no ul.tags li.tag:before {
	content: none;
}

/* コメント */
.npm-bookmark-dialog .npm-display-container .npm-memo-display  {
	width: 100%;
	height: 100px;
	xoverflow: auto;
}

/* コメント枠 */
.npm-bookmark-dialog.npm-device-pc .npm-display-container .npm-memo-display {
	padding-bottom: 5px;
}

/* コメントなし枠 */
.npm-bookmark-dialog.npm-device-pc .npm-display-container .npm-memo-no {
	margin-left: 20px;
}

/********************
4. edit mode
********************/

/* ラベル枠 */
.npm-bookmark-dialog .npm-edit-container .npm-tags {
	position: relative;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 0px;
	letter-spacing: -.40em;
	border: 1px solid #cccccc;
}

/* ラベル */
.npm-bookmark-dialog .npm-edit-container .npm-tags ul.tags {
	margin-right: 20px;
}

/* ラベル */
.npm-bookmark-dialog .npm-edit-container .npm-tags ul.tags li.tag {
	display:inline-block;
	position: relative;
	*display: inline;  
	*zoom: 1; 
	*padding-left: 30px;
	margin-left: 5px;
	margin-bottom: 5px;
	letter-spacing: normal;
	padding: 2px 5px;
	color:#ffffff;
	border-radius: 5px;
	background-color:#83b142;
}

/* ラベル */
.npm-bookmark-dialog .npm-edit-container .npm-tags ul.tags li.new-tag {
	display:inline-block;
	*display: inline;  
	*zoom: 1; 
	margin-left: 5px;
	margin-bottom: 5px;
}

/* ラベル横▼ */
.npm-bookmark-dialog .npm-edit-container .sdx-tag .suggest-button {
	position: absolute;
	right: 3px;
	bottom: 5px;
	clear: both;
}

/* ラベル input */
.npm-bookmark-dialog .npm-edit-container .npm-tags ul.tags li.new-tag input {
	xfloat: left;
	border: 2px solid #ffffff;
}

/* 登録ラベル表示 */
.npm-bookmark-dialog .npm-edit-container .npm-tags ul.suggestion {
	z-index: 100;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

/* 登録ラベル */
.npm-bookmark-dialog .npm-edit-container .npm-tags ul.suggestion li {
	margin: 0px 2px;
	letter-spacing: normal;
}

/* ラベル×ボタン */
.npm-bookmark-dialog .npm-edit-container .npm-tags ul.tags li span.delete {
	position: absolute;
	top: 2px;
	left: 5px;
	cursor: default;
	margin-right: 5px;
}

.npm-bookmark-dialog .npm-edit-container .npm-tags ul.tags li span.value {
	cursor: default;
	margin-right: 5px;
	padding-left: 10px;
}

/* ラベル文字数エラー非表示 */
.npm-bookmark-dialog .npm-edit-container .npm-tags .tags-count-message {
	display: none;
	color: #ff5555;
	font-weight: bold;
	letter-spacing: normal;
}

/* ラベル文字数エラー表示 */
.npm-bookmark-dialog .npm-edit-container .npm-tags.tag-char-over-count .tags-count-message {
	display: inline-block;
	color: #ff5555;
	font-weight: bold;
	letter-spacing: normal;
}

/* コメント */
.npm-bookmark-dialog .npm-edit-container .npm-memo textarea.npm-memo-textarea  {
	width: 100%;
	height: 186px;
	-webkit-box-sizing: border-box; /* Chrome, Safari */
	-moz-box-sizing: border-box;    /* Firefox */
	box-sizing: border-box;         /* IE8+, Opera */
}

/* コメント警告時バックグラウンド */
.npm-bookmark-dialog .npm-edit-container.npm-memo-over-count .npm-memo textarea.npm-memo-textarea {
	background-color: #ff5555;
}

/* コメント警告非表示 */
.npm-bookmark-dialog .npm-edit-container .npm-memo .npm-memo-count-message {
	display: none;
}

/* コメント警告表示 */
.npm-bookmark-dialog .npm-edit-container.npm-memo-over-count .npm-memo .npm-memo-count-message {
	color: #ff5555;
	font-weight: bold;
	display: block;
}

/********************
 5. delete-mode
********************/

/* 削除確認枠内表示位置 */
.npm-bookmark-dialog .npm-delete-confirm-container {
	padding: 50px 0;
	text-align: center;
}

/* タイトル枠 */
.npm-bookmark-dialog .npm-delete-confirm-container .confirm span.title{
	display:block;
	font-weight: bold;
}

/* 注意書き枠 */
.npm-bookmark-dialog .npm-delete-confirm-container .npm-attention {
	color:#ff0000;
}

/* ボタン枠 */
.npm-bookmark-dialog .npm-delete-confirm-container .npm-action,
.npm-bookmark-dialog .npm-delete-confirm-container .npm-action {
	height: auto;
	border-bottom: none;
	color:#ffffff;
	font-weight:bold;
	font-size: 116%;
	line-height: 2.0em;
}

/* 削除決定ボタン */
.npm-bookmark-dialog .npm-delete-confirm-container .npm-dialog-button.npm-delete {
	width: 175px;
	height: 30px;
	margin: 20px auto 10px auto;
	border: 1px solid #b14c54;
	border-radius: 3px;
	xbackground: url("img/myshop-delete-btn.png") no-repeat scroll 0 0 transparent;
	background: #ed5562; /* Old browsers */
	background: -moz-linear-gradient(top, #ed5562 0%, #de4a56 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed5562), color-stop(100%,#de4a56)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ed5562 0%,#de4a56 100%); /* Chrome10+,Safari5.1+ */
}

/* 削除キャンセルボタン */
.npm-bookmark-dialog .npm-dialog-button.npm-delete-cancel {
	width: 100px;
	height: 30px;
	margin: 0 auto;
	border: 1px solid #999999;
	border-radius: 3px;
	xbackground: url("img/cansel-btn.png") no-repeat scroll 0 0 transparent;
	background: #acacac; /* Old browsers */
	background: -moz-linear-gradient(top, #acacac 0%, #9f9f9f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acacac), color-stop(100%,#9f9f9f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #acacac 0%,#9f9f9f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #acacac 0%,#9f9f9f 100%); /* Opera 11.10+ */
}
